whisperx
librosa  # Include for audio processing, if needed
ffmpeg  # For audio manipulation, if needed
yt-dlp  # For downloading YouTube / Soundcloud videos
ruff
pydantic-settings
pytest
alembic
sqlalchemy
psycopg2